.section-4 {
    background-image: url(/assets/images/Main-slider_pattern.jpg);
    height: 65vh;
    .icon-2 {
        margin-top: 5rem;
        font-size: 25px;
        background-color: #D01498;
        border-radius: 100%;
        padding: 15px 15px;
        transition: 0.75s;
        &:hover {
            margin-inline-start: 15px;
        }
    }
    .text-gray {
        color: rgb(168, 168, 168);
    }
}